.navbar-dark{
    background-color: #909aa1
}

.form-control {
    border-radius: 5%;
}

h1 {
    margin-top: 7%;
}

.list-group-item {
    text-decoration: underline;
}

.d-flex {
    text-align: justify;
}

.text{
    background-color: rgb(231, 231, 231);
    padding: 2%;
}
